<h1>Sign Up Confirmation</h1>
<h3>Are you sure these values are correct?</h3>

<div class="row">
  <div class="col-md-8">
    <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :email %>: <%= @user.email %><br>
      <%= f.label :name %>: <%= @user.name %>
    </div>

    <div class="form-group">
      <%= button_to "Yes", { controller: "users", action: "create", params: { user: user_params } }, class: 'btn btn-success' %>
    </div>
  <% end %>
  </div>
</div>
