<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">

          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= any_posts?(@user) %>

<h2>Comments</h2>
<%= any_comments?(@user) %>

<h2>Favorited Posts</h2>
<div class="media">
  <%= image_tag current_user.avatar_url(64), class: 'mr-3' %>
  <div class="pull-left media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

image_tag current_user.avatar_url(64)
